body {
	padding-top: 60px;
}

#timer .timer-timeleft {
    text-align: center;
    font-size: 250px;
}

#timer .timer-time {
	text-align: right;
}

#timer .timer-play {
	width: 75px;
}

#timer .timer-stop {
	width: 75px;
}

#timer .timer-reset {
	width: 75px;
}
